<!DOCTYPE html>
<html>

<head>
  <title>
    Giant List of Todos
  </title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

  <h2>Giant List of Todos</h2>

  <header>
    <form method="post" action="/mylist" id="addTodo">
        <input type="text" name="things" placeholder="Add A New Todo">
        <input type="submit" value="Add Todos">
    </form>

    <form method="POST" action="/deleteall" id="deleteAll">
      <input type="submit" value="Delete all completed todos">
    </form>
  </header>

  <h3>What is Done and What is Not Done</h3>

  <main>
    <ul>
      {{ #mytodos }}
      <li>
        {{ #completed }}
          <p>{{ todos }}</p>

          <form method="POST" action="/new/{{ id }}" class="list">
            <input type="submit" value="Completed">
          </form>

          <form method="POST" action="/delete/{{ id }}" class="list">
            <input type="submit" value="Delete">
          </form>

          <form method="POST" action="/update/{{ id }}" class="list">
            <input type="text" name="updateThis" placeholder="Update Todos">
            <input type="submit" value="Update">
          </form>
        {{ /completed}}

        {{ ^completed }}
            <p><s>{{ todos }}</s></p>

          <form method="POST" action="/done/{{ id }}" class="list">
            <input type="submit" value="Incomplete">
          </form>

          <form method="POST" action="/delete/{{ id }}" class="list">
            <input type="submit" value="Delete">
          </form>
        {{ /completed }}

      </li>
      {{ /mytodos }}
    </ul>
</main>

</body>
</html>
